.introduction {
    margin-bottom: 2rem;
}
h2 {
    text-align: center;
}
.about-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.about-section>h1 {
    margin-top: 5rem;
}
.about-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.about-picture .about-chicago-image {
    /*
    margin-top: -225px;
    margin-left: -375px;
    */
    margin-top: -285px;
    margin-left: -467px; 
    transform: scale(.25);   
    border-radius: 50%; 
}
.chicago-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.film {
    display: flex;
    flex-direction: column;
}
.youtube-videos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.film-header {
    text-align: center;
    margin-top: 3rem;
    font-size: 25px;
}
.film-link {
    display: block;
    text-align: center;
    font-size: 16px;
    color: black;
    margin-top: .5rem;
}
.lense-div {
    margin-top: 5rem;
}
.lenses {
    height: 100px;
}
.snapchat-hr {
    width: 50%;
}
.snapchat-lenses {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.lense-header {
    margin-top: 1rem;
    text-align: center;
}
.snap-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lense-link {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: center;
    margin-bottom: .5rem;
    color: black;
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
.options {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.tech-stack-header {
    margin-top: 3rem;
}
.tech-stack {
    margin-right: 5px;
    margin-top: 1rem;
    height: 30px;
}
.bottom-techstack-hr {
    margin-top: 2rem;
}
.job-title {
    font-size: 20px;
}
.job-date {
    font-size: 14px;
}
.job-description {
    font-size: 12px;
}
@media (max-width: 800px) {
    .introduction {
        text-align: center;
    }
    .snapchat-lenses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-section {
        width: 75%;
    }
    .snap-code {
        text-align: center;
    }
    .lense-link {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .tech-stack {
        height: 25px;
        margin-top: 3px;
    }
}