.introduction {
    margin-bottom: 2rem;
}
h2 {
    text-align: center;
}
.about-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.about-section>h1 {
    margin-top: 5rem;
}
.about-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.about-picture .about-chicago-image {
    /*
    margin-top: -225px;
    margin-left: -375px;
    */
    margin-top: -285px;
    margin-left: -467px; 
    transform: scale(.25);   
    border-radius: 50%; 
}
.chicago-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.film {
    display: flex;
    flex-direction: column;
}
.youtube-videos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.film-header {
    text-align: center;
    margin-top: 3rem;
    font-size: 25px;
}
.film-link {
    display: block;
    text-align: center;
    font-size: 16px;
    color: black;
    margin-top: .5rem;
}
.tech-stack-header {
    margin-top: 3rem;
}
.tech-stack {
    margin-right: 5px;
    margin-top: 1rem;
    height: 30px;
}
.bottom-techstack-hr {
    margin-top: 2rem;
}
.job-title {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.job-date {
    font-size: 14px;
}
.job-description {
    font-size: 12px;
}

@media (max-width: 800px) {
    .introduction {
        text-align: center;
    }
    .job-title {
        font-size: 18px;
    }
    .job-date {
        font-size: 12px;
    }
    .about-section {
        width: 75%;
    }
    .tech-stack {
        height: 20px;
        margin-top: 3px;
    }
}