.body {
    margin-top: 5rem;
}
.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border: solid black 2px;
    border-radius: 5px;
}
.context {
    text-align: center;
    margin-top: 2rem;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
.icon {
    margin-left: 1rem;
}
@media (max-width: 800px) {
    .body {
        display: flex;
        flex-direction: column;
    }
    .header-image {
        height: 250px;
        border: solid black 5px;
        border-radius: 5%;
    }
    .context {
        font-size: 14px;
        margin-top: 3rem;
    }
    .icons {
        margin-top: 1rem;
    }
}