.body {
    margin-top: 4rem;
}
.header-image {
    height: 600px;
    border: solid black 5px;
    border-radius: 5%;
}
@media (max-width: 800px) {
    .body {
        display: flex;
        flex-direction: row;
    }
    .header-image {
        height: 200px;
        border: solid black 5px;
        border-radius: 5%;
    }
}