.top-bar {
    display: flex;
    flex-direction: row;
}
.helloWorld{
    margin-top: 4rem;
}
.about-link {
    color: black;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
.about-link:hover {
    color: black;
}
.introduction {
    margin-left: 30%;
    margin-top: 1rem;
}
#description{
    grid-area: mainPanel;
}
hr{
    margin-top: 2.5rem;
    width: 70%;
}
.picture {
    position: absolute;
    margin-left: 17.5%;
    margin-top: 4rem;
    margin-right: 1rem;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.picture .chicago-image {
    margin-top: -225px;
    margin-left: -375px;
    transform: scale(.25);   
    border-radius: 50%; 
}
.chicago-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.first-story {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.coke-image {
    height: 325px;
}
.story-description {
    margin-left: 3rem;
}
.next-stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: 15rem;
    width: 65%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.thumbnails {
    height: 150px;
    border-radius: 5px 5px 0 0;
}
.category {
    margin-top: 1rem;
    color:  rgb(0, 153, 213);
}
.title-link {
    color: black;
}
.title-link:hover {
    text-decoration: none;
    color: black;
}