.top-bar {
    display: flex;
    flex-direction: row;
}
.helloWorld{
    margin-top: 5rem;
}
.about-link {
    color: black;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
.about-link:hover {
    color: black;
}
.introduction {
    margin-left: 30%;
    margin-top: 1rem;
}
#description{
    grid-area: mainPanel;
}
hr{
    margin-top: 2.5rem;
    width: 70%;
}
.picture {
    position: absolute;
    margin-left: 17.5%;
    margin-top: 5rem;
    margin-right: 1rem;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.picture .chicago-image {
    margin-top: -225px;
    margin-left: -375px;
    transform: scale(.25);   
    border-radius: 50%; 
}
.chicago-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.first-story {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.coke-image {
    height: 300px;
}
.story-description {
    margin-left: 3rem;
}