.biography {
    border: solid black 1px;
    width: 250px;
    height: 820px;
    background-color: rgba(25, 25, 25, 90%);
}
.early {
    width: 249px ;
    height: 75px;
    text-align: center;
}
.high {
    text-align: center;
    width: 249px ;
    height: 75px;
}
.college {
    text-align: center;
    width: 249px ;
    height: 75px;
}
.now {
    text-align: center;
    width: 249px ;
    height: 75px;
}
.future {
    text-align: center;
    width: 249px ;
    height: 75px;
}
.timeline {
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}