.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    margin-top: 5rem; 
    left: 0;
    right: 0; 
    bottom: 0;  
    height: 100px;
    font-size: 14px;
}
.name, .latest {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    align-self: center;
}
.name:hover, .latest:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.latest {
    margin-right: 5px;
}
.first-half {
    display: flex;
    flex-direction: row;
    color: rgba(255,255,255,0.7);
    align-self: center;
}
.copyright {
    margin-left: 5px;
    line-height: 0;
    margin-top: 1rem;
}
.second-half {
    color: rgba(255,255,255,0.7);
    align-self: center;
}